@import "myslider";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #767e9e;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

h2 {
  font-size: 30px;
  font-weight: 900;
}

.container {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
  text-align: center;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 11;
}

.header__wrapper {
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 0.3s;
}

.burger-menu {
  display: none;
}

.logo {
  font-size: 25px;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.logo__star {
  color: #f06c64;
}

.nav {
  padding-top: 10px;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
  position: relative;
}

.nav__item + .nav__item {
  margin-left: 26px;
}

.nav__item + .nav__item::before {
  content: '·';
  color: #494e62;
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}

.nav__item_active .nav__link {
  color: #f06c64;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  transition: color .3s;
}

.nav__link:hover {
  color: #f06c64;
}

.slider {
  border-bottom: 6px solid #ea676b;
  background-color: #f06c64;
  transition: background-color 0.3s;
}

.slider_colored {
  background-color: #648BF0;
}

.slider__wrapper {
  position: relative;
  display: flex;
}

.sliders {
  overflow: hidden;
}

.sliders__item {
  height: 594px;
  justify-content: center;
}

.phone-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.phone-box_two {
  .phone__horizontal {
    margin-left: 73px;
  }
}

.phone-box_three {
  .phone:nth-child(1),
  .phone:nth-child(3) {
    width: 156px;
    top: 152px;
    left: 213px;
    opacity: 0.5;
  }

  .phone:nth-child(2) {
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }

  .phone:nth-child(3) {
    left: auto;
    right: 213px;
  }
}

.phone {
  position: relative;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.phone_off {
  transition: background-color 0.5s;

  &::before {
    content: '';
    position: absolute;
    width: 78.5%;
    height: 68.5%;
    top: 13.4%;
    left: 6%;
    z-index: 2;
    background-color: #000000;
  }
}

.phone__horizontal.phone_off::before {
  width: 68.7%;
  height: 77.4%;
  top: 5.6%;
  left: 12.6%;
}

.phone__btn {
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  left: 36%;
  bottom: 7.4%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.phone__horizontal .phone__btn {
  left: 1.9%;
  top: 36%;
}

div.myslider__btn-left,
div.myslider__btn-right {
  background-color: transparent;
  border-radius: 0;
  width: 16px;
  height: 26px;
  top: 49.5%;
  transform: translateY(-50%);
  opacity: 0.2;
  transition: opacity 0.3s;
}

div.myslider__btn-left:hover,
div.myslider__btn-right:hover {
  opacity: 1;
}

div.myslider__btn-left {
  left: 2px;
  background-image: url(../assets/img/slider/main/arrow-left.png);
}

div.myslider__btn-right {
  right: 0;
  background-image: url(../assets/img/slider/main/arrow-right.png);
}

.services {
  background-color: #f2f2f2;
  padding: 60px 0 33px;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  margin-bottom: 17px;
  color: #666d89;
}

.services__desc {
  margin-bottom: 44px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.layout-3-col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & > * {
    flex-basis: 32%;
  }
}

.layout-4-col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & > * {
    flex: 0 1 25%;
  }
}

.services-item {
  width: 300px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 27px;
  max-height: 300px;
  height: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.services-item__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-right: 22px;
  min-width: 60px;
  border: 2px solid #666d89;
  border-radius: 50%;
  &::before {
    content: '';
    float: left;
    padding-top: 100%;
  }
}

.services-item__logo img {
  max-width: 100%;
}

.services-item__content h3 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 7px;
}

.services-item__content p {
  line-height: 22px;
  font-weight: 400;
}

.portfolio {
  background-color: #2d303a;
  padding: 60px 0 55px;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  margin-bottom: 23px;
}

.portfolio__desc {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 14px;
}

.tags {
  display: inline-flex;
  margin-bottom: 18px;
}

.tags__item + .tags__item {
  margin-left: 9px;
}

.tag {
  cursor: pointer;
  padding: 0 6px;
  line-height: 21px;
  text-align: center;
  border: 1px solid #666d89;
  border-radius: 5px;
  transition: all 0.3s;
}

.tag:hover {
  border-color: #fff;
  color: #fff;
}

.tag_active {
  padding: 0 8px;
  border-color: #fff;
  color: #fff;
}

.portfolios {
  max-height: 613px;
  overflow: hidden;
  margin: 0 -10px;
}

.portfolios__item {
  margin-bottom: 20px;
  display: flex;
  padding: 0 10px;
  & img {
    max-width: 100%;
  }
}

.portfolios__item_active img {
  outline: 5px solid #F06C64;
  outline-offset: -5px;
}

.aboutus {
  background-color: #f2f2f2;
  padding: 59px 0 64px;
  border-bottom: 6px solid #ffffff;
}

.aboutus__title {
  margin-bottom: 18px;
}

.aboutus__desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 45px;
}

.staffs__img {
  margin-bottom: 12px;
  & img {
    width: 100%;
  }
}

.staffs__name {
  max-width: 300px;
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.staffs__descr {
  line-height: 21px;
  margin-bottom: 23px;
}


.quote {
  background-color: #f06c64;
  padding: 59px 0 57px;
  border-bottom: 6px solid #ea676b;
  color: #f0d8d9;
}

.quote__title {
  color: #f0d8d9;
  margin-bottom: 18px;
}

.quote__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 45px;
}

.quote__box {
  display: flex;
}

.quote__form {
  padding-right: 20px;
  flex-basis: 68%;
}

.quote__form input,
.quote__form textarea {
  width: 100%;
  resize: none;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px 16px;
  background-color: #d6564f;
  font-size: 12px;
  height: 38px;
  color: #f0d8d9;
}

.quote__form input::placeholder,
.quote__form textarea::placeholder {
  font-size: 12px;
  color: #f48c8f;
}

.quote__form textarea::placeholder {
  letter-spacing: normal;
}

.quote__form textarea {
  height: 202px;
  margin-bottom: 12px;
}

.quote__form input {
  margin-bottom: 16px;
}

.quote__form button {
  cursor: pointer;
  border: none;
  background-color: #FBC65F;
  color: #886A30;
  padding: 11px 50px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.quote__contact {
  flex-basis: 32%;
}

.contact-inf__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  margin-bottom: 9px;
}

.contact-inf__text {
  line-height: 22px;
  margin-bottom: 22px;
}

.contact-inf__link a {
  color: #f0d8d9;
  text-decoration: none;
  margin-left: 10px;
}

.contact-inf__link + div {
  margin-top: 7px;
}

.icon-contact {
  display: inline-block;
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.icon-contact_map {
  background-image: url('../assets/img/contact/location.png');
}

.icon-contact_phone {
  background-image: url('../assets/img/contact/phone.png');
}

.icon-contact_mail {
  background-image: url('../assets/img/contact/mail.png');
}

.footer {
  background-color: #2d303a;
}

.footer__wrapper {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  margin-left: 3px;
}

.footer__copy span {
  display: inline-block;
  margin-right: 2px;
}

.social {
  display: inline-flex;
}

.social a + a {
  margin-left: 8px;
}

.ico {
  width: 32px;
  height: 32px;
  border: 1px solid #69708b;
  border-radius: 50%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.ico_fb {
  background-image: url('../assets/img/socials/facebook.png');
}

.ico_google {
  background-image: url('../assets/img/socials/google+.png');
}

.ico_linkedin {
  background-image: url('../assets/img/socials/linkedin.png');
}

.ico_twitter {
  background-image: url('../assets/img/socials/twitter.png');
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  min-width: 350px;
  min-height: 150px;
  background-color: #fff;
  padding: 10px 15px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #99a0c6;
}

.modal__title {
  font-size: 20px;
  font-weight: bold;
}

.modal__content {
  margin-bottom: 15px;
  border-bottom: 1px solid #99a0c6;
  font-size: 16px;
}

.modal__text {
  margin-bottom: 5px;
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
}

.modal__btn button {
  border: 1px solid white;
  cursor: pointer;
  padding: 5px 10px;
  color: #fff;
  background-color: #99a0c6;
  outline: none;
}

@media (max-width: 786px) {

  .layout-4-col {
    & > * {
      flex-basis: 33.333%;
    }
  }
  .sliders__item {
    height: 446px;
    .phone__horizontal {
      margin-left: 54px;
    }
  }

  .services {
    padding-top: 35px;
    padding-bottom: 16px;
    .services__title {
      margin-bottom: 21px;
    }
    .services__desc {
      margin-bottom: 36px;
    }
    .services-item {
      margin-bottom: 50px;
    }
    .layout-3-col > * {
      flex-basis: 49%;
    }
  }

  .portfolio {
    padding-top: 59px;
    padding-bottom: 65px;
    .portfolios {
      max-height: 796px;
    }
    .tags {
      margin-bottom: 28px;
    }
  }

  .aboutus {
    padding-top: 52px;
    .aboutus__desc {
      margin-bottom: 38px;
    }
    .staffs__img {
      margin-bottom: 6px;
    }
    .staffs__name {
      margin-bottom: 2px;
    }
    .staffs__descr {
      margin-bottom: 12px;
    }
  }

  .quote {
    padding-top: 55px;
    padding-bottom: 40px;
    .quote__form {
      padding-right: 29px;
    }
    .quote__text {
      margin-bottom: 25px;
    }
    .quote__form input {
      margin-bottom: 12px;
    }
    .quote__form textarea {
      height: 159px;
    }
    .contact-inf__title {
      margin-bottom: 4px;
    }
    .contact-inf__text {
      margin-bottom: 11px;
    }
  }
}

@media (max-width: 570px) {

  .sliders__item {
    height: 335px;
    .phone__horizontal {
      margin-left: 40px;
    }
  }

  .services,
  .aboutus {
    .layout-3-col {
      & > * {
        flex-basis: 100%;
      }
    }
  }
  .staffs__item {
    margin-bottom: 32px;
  }
}

@media (max-width: 375px) {

  .container {
    padding: 0 30px;
  }

  .header {
    .header__wrapper {
      height: 65px;
      justify-content: center;
    }
    .logo {
      font-size: 20px;
    }
    .nav {
      display: none;
    }
  }

  .slider {
    .container {
      padding: 0;
    }
  }

  .sliders__item {
    height: 214px;
    .phone__horizontal {
      margin-left: 27px;
    }
  }

  .layout-4-col {
    & > * {
      flex-basis: 50%;
    }
  }

  .services {
    padding-top: 25px;
    padding-bottom: 15px;
    .services__desc {
      margin-bottom: 28px;
    }
    .services-item {
      margin-bottom: 25px;
    }
    .services-item:last-child {
      margin-bottom: 0;
    }
  }

  .portfolio {
    padding-top: 42px;
    padding-bottom: 36px;
    .portfolio__title {
      margin-bottom: 23px;
    }
    .portfolio__desc {
      line-height: 28px;
      margin-bottom: 17px;
    }
    .tags {
      margin-bottom: 24px;
    }
    .portfolios {
      max-height: 555px;
      margin: 0 -5px;
    }
    .portfolios__item {
      padding: 0 5px;
      margin-bottom: 14px;
    }
  }

  .aboutus {
    padding-top: 33px;
    padding-bottom: 34px;
    .staffs__img {
      margin-bottom: 12px;
    }
    .staffs__item:last-child {
      margin-bottom: 0;
    }
  }

  .quote {
    padding-top: 44px;
    padding-bottom: 38px;
    .quote__box {
      flex-wrap: wrap;
    }
    .quote__form {
      padding-right: 0;
      flex-basis: 100%;
      margin-bottom: 32px;
    }
    .quote__contact {
      flex-basis: 100%;
    }
    .quote__form textarea {
    }
    .quote__form button {
      padding: 16px 50px;
      width: 100%;
    }
    .quote .contact-inf__text {
      margin-bottom: 15px;
    }
    .contact-inf__link + div {
      margin-top: 12px;
    }
  }
  
  .footer__wrapper {
    justify-content: center;
    .footer__copy {
      display: none;
    }
  }

}